header {
  background-color: var(--black);
  width: 100%;
  height: 100px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  height: 15px;
  margin-left: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.optionMenu {
  margin-left: 30px;
  cursor: pointer;
}

.linkPage {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  color: var(--white);
  opacity: 0.7;
  margin-right: 20px;
  font-size: 0.875em;
  font-weight: 500;
  display: inline-block;
  position: relative;
}

.linkPage:hover {
  color: var(--red);
  opacity: 1;
}

main {
  background-color: var(--black);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mainImg {
  height: 100%;
  z-index: 100;
}

.socialMedias {
  width: 700px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 120px;
  left: 5px;
  z-index: 1;
}

.socialMedias a {
  text-decoration: none;
}

.line {
  height: 1px;
  width: 60%;
  background-color: var(--red);
}

#about {
  width: 100%;
  height: 400px;
  background-color: var(--background-white);
  position: relative;
  padding-left: 50px;
}

.explanation {
  line-height: 28px;
}

.explanationTitle {
  padding-top: 64px;
  font-size: 1.875em;
  margin-bottom: 10px;
}

.riot {
  width: 451px;
  height: 500px;
  background-image: url(../assets/imgs/riot.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--red);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  bottom: 100px;
  right: 120px;
  z-index: 10000;
  line-height: 30px;
}

.riot img {
  width: 231px;
  height: 34px;
  margin-top: 43px;
  margin-bottom: 50px;
}

.riot p {
  color: var(--white);
}

.riot button {
  margin-top: 54px;
  width: 346px;
  height: 69px;
  border: 1px solid var(--white);
  font-size: 1.438em;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: var(--white);
  font-weight: 700;
}

.riot button a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--white);
}

#maps {
  width: 100%;
  height: 700px;
  background-color: var(--background-white);
  padding-left: 50px;

}

.mapExplanation p {
  font-size: 0.813em;
  padding-right: 17px;
}

.mapsSwiper {
  padding: 15px 0px !important;

  height: 568px;
  position: relative;
}

.swiper-slide {
  width: 327px !important;
  height: 455px !important;
  border-radius: 4px;
  background-color: var(--white);
  -webkit-box-shadow: 1px 4px 15px -3px #000000;
  box-shadow: 1px 4px 15px -3px #000000;
}

.mapExplanation {
  padding-left: 15px;
}

.swiper-slide img {
  width: 100%;
  height: 219px;
  object-fit: cover;
}

.location {
  color: var(--red);
  font-weight: 600;
}

.mapExplanation strog {
  font-size: 1em;
  margin-bottom: 16px;
}

.explanationMaps {
  font-size: 1.875em;
  margin-bottom: 15px;
}

.movitationButtonsMap {
  position: relative;
  bottom: 35px;
  display: flex;
  width: 96px;
  padding-left: 20px;
}

.mapsNext,
.mapsPrev {
  color: var(--red) !important;
  opacity: 0.6;
  width: 11.25px;
  height: 22.5px;
  --swiper-navigation-size: 36px;
}

#agents {
  height: 900px;
  width: 100%;
  background-image: url(../assets/imgs/agentsBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--red);
  padding-top: 38px;
  padding-left: 50px;
  display: flex;
}

.agentsSwiper {
  height: 100%;
  position: relative;
}

.agentsTitle {
  margin-right: 33px;
}

.agentsCard {
  width: 318px !important;
  height: 738px !important;
  background-color: #3F242F;
  position: relative;
}


.agentsCard img {
  width: 315px;
  height: 724px;
  object-fit: cover;
  pointer-events: none;
}

.agentInfo {
  padding-left: 23px;
  padding-top: 9px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white);
  height: 90px;
  width: 313px;
  background-color: var(--black);
  position: absolute;
  left: 42px;
  bottom: -50px;
}

.agentInfo strong {
  color: var(--background-white);
  font-size: 1.500em;
}

.agentInfo strong:nth-child(even) {
  color: var(--red);
}


.movitationButtonsAgents {
  position: relative;
  bottom: 35px;
  display: flex;
  width: 96px;
  padding-left: 20px;
}

.agentsNext,
.agentsPrev {
  color: var(--background-white) !important;
}

.blankSpace {
  width: 100%;
  height: 250px;
  background-color: #E4E4E4;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
}


.registerEmail {
  width: 972px;
  height: 270px;
  background-color: var(--white);
  position: relative;
  -webkit-box-shadow: 1px 4px 15px -3px #000000;
  box-shadow: 1px 4px 15px -3px #000000;
  margin-top: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerEmail strong {
  color: var(--red);
  font-size: 1.250em;
  font-weight: bold;
}


.registerEmail p {
  color: #1E1E1E;
  font-size: 1.250em;
  text-transform: uppercase;
  font-weight: bold;
}

.registerEmail form {
  margin-top: 44px;
}

.registerEmail input {
  width: 549px;
  height: 58px;
  border: none;
  -webkit-box-shadow: 1px 1px 7px 0px #000000;
  box-shadow: 1px 1px 7px 0px #000000;
  padding-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
}

.registerEmail ::placeholder {
  color: #1E1E1E;
  opacity: 0.8;
}

.registerEmail button {
  border: none;
  height: 58px;
  width: 209px;
  background-color: var(--red);
  color: var(--white);
  font-size: 1.250em;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  ;
}

.riotGames {
  height: 183px;
  width: 100%;
  background-color: #1F1C26;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.corp {
  background-color: var(--red);
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.corp p {
  color: var(--white);
  font-size: 1.000em;
}