* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Poppins", sans-serif;
}

header {
 background-color: #1F1C26;
 width: 100%;
 height: 100px;
 color: #FFFFFF;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-left: 50px;
 padding-right: 50px;
}

.logoImg {
 height: 100px;
 width: 100px;
}

.menu {
 height: 15px;
 margin-left: 66px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.optionMenu {
 margin-left: 30px;
 cursor: pointer;
}

.linkPage {
 font-family: "Inter", sans-serif;
 ;
 text-decoration: none;
 color: #fff;
 opacity: 0.7;
 margin-right: 20px;
 font-size: 0.875em;
 font-weight: 500;
}

.linkPage:hover {
 color: #FF4655;
 opacity: 1;
}

main {
 background-color: #1F1C26;
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 position: relative;
}

.mainImg {
 height: 100%;
 z-index: 100;
}

.socialMedias {
 width: 700px;
 display: flex;
 align-items: center;
 position: absolute;
 bottom: 120px;
 left: 5px;
 z-index: 1;
}

.socialMedias a {
 text-decoration: none;
}

.line {
 height: 1px;
 width: 60%;
 background-color: #FF4655;
}

#about {
 width: 100%;
 height: 400px;
 background-color: #E4E4E4;
 position: relative;
 padding-left: 50px;
}

.explanationTitle {
 padding-top: 64px;
 font-size: 1.875em;
}

.riot {
 width: 451px;
 height: 500px;
 background-image: url(./assets/riot.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-color: #FF4655;
 display: flex;
 align-items: center;
 flex-direction: column;
 border-radius: 5px;
 position: absolute;
 bottom: 100px;
 right: 120px;
 z-index: 10000;
}

.riot img {
 width: 231px;
 height: 34px;
 margin-top: 43px;
 margin-bottom: 50px;
}

.riot p {
 color: #FFF;
}

.riot button {
 margin-top: 54px;
 width: 346px;
 height: 69px;
 border: 1px solid  #FFF;
 font-size: 1.438em;
 border-radius: 4px;
 background-color: transparent;
 cursor: pointer;
 color: #FFF;
 font-weight: 700;
}

.riot button a {
 width: 100%;
 height: 100%;
 text-decoration: none;
 color: #FFF;
}

#maps {
 width: 100%;
 height: 700px;
 background-color: #E4E4E4;
 padding-left: 50px;
}

.explanationMaps {
 font-size: 1.875em;
 margin-bottom: 15px;
}

.mapCard {
 height: 400px;
 width: 327px;
 border-radius: 4px;
 background-color: #FFF;
 -webkit-box-shadow: 1px 4px 15px -3px #000000;
 box-shadow: 1px 4px 15px -3px #000000;
}

.mapCard img {
 width: 100%;
 height: 219px; 
 object-fit: cover;
}

.mapExplanation {
 padding-left: 15px;
}

.mapExplanation strog {
 font-size: 1.000em;
}

.mapExplanation p {
 font-size: 0.813em;
}

.mySwiper {
height: 450px;
display: flex;
gap: 10px;
}